<template name="customer-header">
<header class="dapp-header">
<nav>
    <ul>
        <li>
            <a href="/login">
                <i class="icon-arrow-up"></i>
                <span>Abmelden</span>
            </a>
        </li>
        <li>
            <a href="/reporter">
                <i class="icon-arrow-up"></i>
                <span>Schaden melden</span>
            </a>
        </li>
        <li>
            <a href="/customer">
                <i class="icon-arrow-up"></i>
                <span>Vertrag abschließen</span>
            </a>
        </li>
    </ul>
</nav>
</header>
</template>
