
<template name="footer">
<!-- footer -->
  <div class="container">
    <hr>
    <p>
      Block Lease App by Leafer: <a href="https://github.com/mleafer/ethereum/tree/master/smart_lease">View Source</a>
    </p>
  </div>
</template>


<!-- TOADD -->
<!-- <template name="footer">

<footer class="dapp-footer">
<table>
		<tr style="line-height:0px;"><td>{{i18n 'dapp.app.headers.balance'}}</td>
		<td>{{i18n 'dapp.app.headers.coinbase'}}</td>
		<td>{{i18n 'dapp.app.headers.listening'}}</td>
		<td>{{i18n 'dapp.app.headers.peerCount'}}</td>
		<td>{{i18n 'dapp.app.headers.accountCount'}}</td>
		<td>{{i18n 'dapp.app.headers.gasPrice'}}</td>
		<td>{{i18n 'dapp.app.headers.version'}}</td>
		<td>{{i18n 'dapp.app.headers.blockNumber'}}</td>
		<td>{{i18n 'dapp.app.headers.mining'}}</td></tr>
		<tr style="line-height:10px;"><td>{{balance}}</td>
		<td>{{coinbase}}..</td>
		<td>{{#if listening}}{{i18n 'dapp.global.yes'}}{{else}}{{i18n 'dapp.global.no'}}{{/if}}</td>
		<td>{{peerCount}}</td>
		<td>{{accountCount}}</td>
		<td>{{gasPrice}}</td>
		<td>{{version}}</td>
		<td>{{blockNumber}}</td>
		<td>{{#if mining}}{{i18n 'dapp.global.yes'}}{{else}}{{i18n 'dapp.global.no'}}{{/if}}</td></tr>	
</table>

</footer>
</template> -->