<template name="header">
<header class="dapp-header">
<nav>
    <ul>
        <li>
            <a href="/login">
                <i class="icon-arrow-up"></i>
                <span>Abmelden</span>
            </a>
        </li>
        <li>
            <a href="/issuer">
                <i class="icon-arrow-up"></i>
                <span>Policieren</span>
            </a>
        </li>
        <li>
            <a href="/adjuster">
                <i class="icon-arrow-up"></i>
                <span>Regulieren</span>
            </a>
        </li>
        <li>
            <a href="/dashboard">
                <i class="icon-arrow-up"></i>
                <span>Vertragsübersicht</span>
            </a>
        </li>
    </ul>
</nav>
</header>
</template>
